@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, :root {
  height: 100%;
}

#hero-component {
  background: linear-gradient(rgba(8, 0 , 58, 0.7), rgba(8, 0 , 58, 0.7)), url('/hero.png');
  background-size: cover;
  background-position: center;
}
 